orbe/src/main/resources/orbe/model/io/v02/orbe.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Cthulhu (Azatoth) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT orbe (version, general, options, styles, textes, lignes, hexmap)>
<!ELEMENT general (hexdim)>
<!ELEMENT options (option*)>
<!ELEMENT styles (symboles, terrains, styles-texte, styles-ligne)>
<!ELEMENT symboles (symbole*)>
<!ELEMENT symbole (image, nom, symbole-type)>
<!ELEMENT symbole-type (road, river, limit, other)>
<!ELEMENT road (#PCDATA)>
<!ELEMENT river (#PCDATA)>
<!ELEMENT limit (#PCDATA)>
<!ELEMENT other (#PCDATA)>
<!ELEMENT terrains (terrain*)>
<!ELEMENT terrain (nom, couleur, ref-symbole?)>
<!ELEMENT styles-texte (style-texte*)>
<!ELEMENT style-texte (nom, font, h-align, v-align, style-cadre?)>
<!ELEMENT font (name, size, couleur, bold, italic)>
<!ELEMENT style-cadre (type, body-color, frame-color, frame-pen, shadow-color, shadow-offset, shadow-trans, trans, marge)>
<!ELEMENT frame-pen (width, height)>
<!ELEMENT shadow-offset (width, height)>
<!ELEMENT styles-ligne (style-ligne*)>
<!ELEMENT style-ligne (nom, kind, thick, couleur, trans, dotted, grad, type)>
<!ELEMENT textes (texte*)>
<!ELEMENT texte (value, position, rotation, ref-style)>
<!ELEMENT position (x, y)>
<!ELEMENT lignes (ligne*)>
<!ELEMENT ligne (ref-style, ligne-data)>
<!ELEMENT hexmap (largeur, hauteur, hexmap-data)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT hexdim (#PCDATA)>
<!ELEMENT option (#PCDATA)>
<!ELEMENT body-color (#PCDATA)>
<!ELEMENT couleur (#PCDATA)>
<!ELEMENT dotted (#PCDATA)>
<!ELEMENT frame-color (#PCDATA)>
<!ELEMENT grad (#PCDATA)>
<!ELEMENT h-align (#PCDATA)>
<!ELEMENT italic (#PCDATA)>
<!ELEMENT bold (#PCDATA)>
<!ELEMENT hauteur (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!--Suite d'éléments N(T.S.C) où N est le nombre d'hexs, T est l'ID du terrain (facultatif), S est l'ID du symbole (facultatif) et C est la couleur (facultatif)-->
<!ELEMENT hexmap-data (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT kind (#PCDATA)>
<!ELEMENT largeur (#PCDATA)>
<!--Liste des points séparés par des points-vurgule. Chaque point est un couple x,y-->
<!ELEMENT ligne-data (#PCDATA)>
<!ELEMENT marge (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT ref-style (#PCDATA)>
<!ELEMENT ref-symbole EMPTY>
<!ELEMENT rotation (#PCDATA)>
<!ELEMENT shadow-color (#PCDATA)>
<!ELEMENT shadow-trans (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT thick (#PCDATA)>
<!ELEMENT trans (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT v-align (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT x (#PCDATA)>
<!ELEMENT y (#PCDATA)>
<!ATTLIST ref-symbole
	id CDATA #REQUIRED
>
<!ATTLIST option
	name CDATA #REQUIRED
>
<!ATTLIST symbole
	id CDATA #REQUIRED
>
<!ATTLIST terrain
	id CDATA #REQUIRED
>
